body {
    background-color: rgba(0, 0, 255, 0.021);
}

.search-section {
    margin-top: 1%;
    display: flex;
    justify-content: center;
    gap: 1%;
}

.go-to {
    display: flex;
    align-items: center;
    margin-left: 1%;
}